.card {
    min-width: 275px;
    max-width: 500px;
    margin: 20px auto;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  .card-content {
    padding: 16px;
  }

  .card-title {
    font-weight: bold;
    margin-bottom: 10px;
  }

  .card-options {
    margin-top: 12px;
  }

  .card-action {
    justify-content: center;
    padding: 8px;
  }

.filter-container {
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.filter-label {
    margin-right: 10px;
    font-weight: bold;
    font-size: 16px;
}

.filter-select {
    padding: 8px 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9;
    outline: none;
    transition: all 0.3s ease;
}

.filter-select:focus {
    border-color: #007BFF;
    box-shadow: 0 0 8px rgba(0, 123, 255, 0.25);
}

.filter-select:hover {
    background-color: #f1f1f1;
}

.filter-select option {
    padding: 10px;
}
